<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"content="width=device-width, initial-scale=1.0">
		<title>Contact</title>
		<link rel="stylesheet"href="../resources/Semantic/dist/semantic.css">
		<style type="text/css">
		.ui.footer {
			position: fixed;
			bottom: 0px;
			width: 100%;
		}
		.ui.dividing.header{
			padding-top: 10px;
			font-size: 2em;
		}
		.header.item a{
			font-size: 3em; 
		}
		</style>
	</head>
	<body>
		<div class="ui inverted vertical masthead center aligned segment">
			<div class="ui container">
				<div class="ui large secondary inverted pointing menu">
					<div class="header item"><a href="index.html">The Coffee Shop</a></div>
					<div class="right menu">
						<a class="item">Home</a>
						<a class="item">About</a>
						<a class="item">Contact</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui container">
			<h4 class="ui dividing header">Write us</h4>
			<p>Please feel free to contact us by filling the form below. We will be in touch shortly.</p>
			<div class="ui divider"></div>
			<div class="ui form">
					<div class="required field">
						<label>Name</label>
						<input type="text">
					</div>
					<div class="ui divider"></div>
					<div class="required field">
						<label>Email</label>
						<input type="email">
					</div>
					<div class="ui divider"></div>
					<div class="required field">
						<label>Content</label>
						<textarea></textarea>
					</div>
			</div>
			<div class="ui divider"></div>
			<div class="ui black button">Send</div>
		</div>
		<div class="ui inverted vertical footer segment"id="footer">
			<div class="ui container">
				<div class="ui stackable inverted divided equal height stackable grid">
					<div class="column">
						<h4 class="ui inverted header"style="text-align: center;">The Coffee Shop ©2017 - ALL RIGHTS RESERVED.</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>