<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>Contact</title>
		<link rel="stylesheet" type="text/css" href="../resources/Semantic/dist/semantic.css">
		<link rel="stylesheet" type="text/css" href="../resources/css/normalize.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="../resources/Semantic/dist/semantic.js"></script>
		<style type="text/css">
		.ui.dividing.header{
			padding-top: 10px;
			font-size: 2em;
		}
		.ui.container{
			min-height: 100%;
		}
		@media only screen
		and (min-device-width:320px){
			.brand.item {
				font-size: 2em;
			}
		}
		@media only screen
		and (min-device-width:768px){
			.brand.item {
				font-size: 3em;
			}
		}
		</style>
	</head>
	<body>
		<div class="ui inverted vertical masthead center aligned segment">
			<div class="ui stackable container inverted menu">
				<a href="index.html" class="brand item">The Coffee Shop</a>
				<div class="right menu">
					<a class="item" href="index.html">Home</a>
					<a class="item" href="about.html">About</a>
					<a class="item" href="contact.html">Contact</a>
				</div>
			</div>
		</div>
		<div class="ui middle aligned main container" style="padding-top: 30px; padding-bottom: 30px;">
			<div class="ui segment">
				<h1 class="ui dividing header">Write us</h1>
				<p>Please feel free to contact us by filling the form below. We will be in touch shortly.</p>
				<div class="ui divider"></div>
				<div class="ui form">
					<div class="required field">
						<label>Name</label>
						<input type="text">
					</div>
					<div class="ui divider"></div>
					<div class="required field">
						<label>Email</label>
						<input type="email">
					</div>
					<div class="ui divider"></div>
					<div class="required field">
						<label>Content</label>
						<textarea></textarea>
					</div>
				</div>
				<div class="ui divider"></div>
				<div class="ui black button">Send</div>
				<div class="ui divider"></div>
			</div>
		</div>
		<div class="ui inverted vertical footer segment">
			<div class="ui center align container">
				<div class="ui inverted section divider"></div>
				<div class="ui stackable inverted divided grid">
					<div class="eight wide column">
						<div class="ui compact labeled icon inverted icon massive link list">
							<a class="item"><i class="twitter icon"></i> Twitter</a>
							<a class="item"><i class="facebook icon"></i> Facebook</a>
							<a class="item"><i class="mail icon"></i> E-mail</a>
						</div>
					</div>
					<div class="eight wide column">
						<h4 class="ui inverted header">Group 3</h4>
						<div class="ui inverted list">
							<a href="#" class="item">Nguyen Khanh Binh</a>
							<a href="#" class="item">Truong Ngoc Anh</a>
							<a href="#" class="item">Le Nguyen Minh Tri</a>
							<a href="#" class="item">Do Hoang Minh Phuong</a>
						</div>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<h4 class="ui inverted header" style="text-align: center;">The Coffee Shop &copy;2017 - ALL RIGHTS RESERVED.</h4>
			</div>
		</div>
	</body>
</html>