<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome = 1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>Explorer</title>
		<link rel="stylesheet" type="text/css" href="../resources/Semantic/dist/semantic.css">
		<link rel="stylesheet" tyspe="text/css" href="../resources/css/normalize.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script type="text/javascript" src="../resources/Semantic/dist/semantic.js"></script>
		<style type="text/css">
		.ui.dividing.header {
			padding-top: 10px;
			font-size: 2em;
		}
		.ui.container {
			min-height: 100%;
		}
		@media only screen
		and (min-device-width:320px){
			.brand.item{
				font-size: 2em;
			}
		}
		@media only screen
		and (min-device-width:768px){
			.brand.item{
				font-size: 3em;
			}
		}
		</style>
	</head>
	<body>
		<div class="ui inverted vertical masthead center aligned segment">
			<div class="ui stackable container inverted menu">
				<a href="index.html" class="brand item">The Coffee Shop</a>
				<div class="right menu">
					<a class="item" href="index.html">Home</a>
					<a class="item" href="about.html">About</a>
					<a class="item" href="contact.html">Contact</a>
				</div>
			</div>
		</div>
		<div class="ui middle aligned main container" style="padding-top: 30px; padding-bottom: 30px;">
			<div class="ui centered grid">
				<div class="sixteen wide mobile sixteen wide tablet four wide computer column">
					<div class="ui card">
						<div class="content">
							<div class="header">Project Timeline</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Activity</h4>
							<div class="ui small feed">
								<div class="event">
									<div class="content">
										<div class="summary">
											<a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
										</div>
									</div>
								</div>
								<div class="event">
									<div class="content">
										<div class="summary">
											<a>Stevie Feliciano</a> was added as an <a>Administrator</a>
										</div>
									</div>
								</div>
								<div class="event">
									<div class="content">
										<div class="summary">
											<a>Helen Troy</a> added two pictures
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="extra content">
							<button class="ui button">Join Project</button>
						</div>
					</div>
				</div>
				<div class="sixteen wide mobile sixteen wide tablet ten wide computer column">
					<div class="ui dividing header">Explorer</div>
					<br>
					<div class="ui three stackable cards">
						<div class="card">
							<div class="image">
								<img src="../resources/images/background_item_1.jpg">
							</div>
						</div>
						<div class="card">
							<div class="image">
								<img src="../resources/images/background_item_1.jpg">
							</div>
						</div>
						<div class="card">
							<div class="image">
								<img src="../resources/images/background_item_1.jpg">
							</div>
						</div>
						<div class="card">
							<div class="image">
								<img src="../resources/images/background_item_1.jpg">
							</div>
						</div>
						<div class="card">
							<div class="image">
								<img src="../resources/images/background_item_1.jpg">
							</div>
						</div>
						<div class="card">
							<div class="image">
								<img src="../resources/images/background_item_1.jpg">
							</div>
						</div>
					</div>
					<div class="ui divider"></div>
				</div>
				<div class="sixteen wide mobile sixteen wide tablet two wide computer column">
					<div class="ui card">
						<div class="content">
							<div class="header">Project Timeline</div>
						</div>
						<div class="content">
							<h4 class="ui sub header">Activity</h4>
							<div class="ui small feed">
								<div class="event">
									<div class="content">
										<div class="summary">
											<a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
										</div>
									</div>
								</div>
								<div class="event">
									<div class="content">
										<div class="summary">
											<a>Stevie Feliciano</a> was added as an <a>Administrator</a>
										</div>
									</div>
								</div>
								<div class="event">
									<div class="content">
										<div class="summary">
											<a>Helen Troy</a> added two pictures
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="extra content">
							<button class="ui button">Join Project</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui inverted vertical footer segment">
			<div class="ui center align container">
				<div class="ui stackable inverted divided equal height stackable grid">
					<div class="column">
						<h4 class="ui inverted header" style="text-align: center;">The Coffee Shop &copy;2017 - ALL RIGHTS RESERVED.</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>