<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Explorer</title>
    <link rel="stylesheet" type="text/css" href="../resources/Semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/normalize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="../resources/Semantic/dist/semantic.js"></script>
    <style type="text/css">
        .ui.menu .item:before {
            top: 25%;
            bottom: 25%;
            height: 50%;
        }

        .ui.dividing.header {
            padding-top: 10px;
            font-size: 2em;
        }

        .ui.container {
            min-height: 100%;
        }

        .ui.pagination.menu {
            float: right;
        }

        @media only screen and (min-device-width:320px) {
            .brand.item {
                font-size: 2em;
            }
        }

        @media only screen and (max-width: 767px) {
            .ui.stackable.menu .item {
                width: 100% !important;
            }
            .delete-item {
                display: none !important;
            }
        }

        @media only screen and (min-device-width:768px) {
            .brand.item {
                font-size: 3em;
            }
        }
    </style>
</head>

<body>
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui stackable inverted menu">
            <a href="index.html" class="brand item">The Coffee Shop</a>
            <div class="item" style="width: 30%;">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>

            <div class="right menu">
                <a class="item" href="index.html">Home</a>
                <a class="item" href="explorer.html">Explore</a>
                <a class="item" href="about.html">About</a>
                <a class="item" href="contact.html">Contact</a>
                <span class="item delete-item"></span>
            </div>
        </div>
    </div>
    <div class="ui middle aligned main container" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="ui centered grid">
            <div class="sixteen wide mobile sixteen wide tablet two wide computer column">
                <div class="ui vertical text menu">
                    <div class="header item">Sort By</div>
                    <a class="item">
							Most Popular
						</a>
                    <a class="item">
							Most Comments
						</a>
                </div>
            </div>
            <div class="sixteen wide mobile sixteen wide tablet fourteen wide computer column">
                <div class="ui dividing header">Explorer</div>
                <div class="ui segment" style="overflow: auto">
                    <div class="ui three stackable cards">
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/background_item_1.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>Friends</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
										<i class="unhide icon"></i>
										75
									</span>

                                <span class="right floated">
										<i class="star icon"></i>
										7.1
									</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/background_item_1.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>Friends</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
										<i class="unhide icon"></i>
										75
									</span>

                                <span class="right floated">
										<i class="star icon"></i>
										7.1
									</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/background_item_1.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>Friends</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
										<i class="unhide icon"></i>
										75
									</span>

                                <span class="right floated">
										<i class="star icon"></i>
										7.1
									</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/background_item_1.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>Friends</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
										<i class="unhide icon"></i>
										75
									</span>

                                <span class="right floated">
										<i class="star icon"></i>
										7.1
									</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/background_item_1.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>Friends</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
										<i class="unhide icon"></i>
										75
									</span>

                                <span class="right floated">
										<i class="star icon"></i>
										7.1
									</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/background_item_1.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>Friends</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
										<i class="unhide icon"></i>
										75
									</span>

                                <span class="right floated">
										<i class="star icon"></i>
										7.1
									</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui pagination menu">
                        <a class="active item">
								1
							</a>
                        <div class="disabled item">
                            ...
                        </div>
                        <a class="item">
								10
							</a>
                        <a class="item">
								11
							</a>
                        <a class="item">
								12
							</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui center align container">
            <div class="ui inverted section divider"></div>
            <div class="ui stackable inverted divided grid">
                <div class="eight wide column">
                    <div class="ui compact labeled icon inverted icon massive link list">
                        <a class="item"><i class="twitter icon"></i> Twitter</a>
                        <a class="item"><i class="facebook icon"></i> Facebook</a>
                        <a class="item"><i class="mail icon"></i> E-mail</a>
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui inverted header">Group 3</h4>
                    <div class="ui inverted list">
                        <a href="#" class="item">Nguyen Khanh Binh</a>
                        <a href="#" class="item">Truong Ngoc Anh</a>
                        <a href="#" class="item">Le Nguyen Minh Tri</a>
                        <a href="#" class="item">Do Hoang Minh Phuong</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <h4 class="ui inverted header" style="text-align: center;">The Coffee Shop &copy;2017 - ALL RIGHTS RESERVED.</h4>
        </div>
    </div>
</body>

</html>