<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome = 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Explorer</title>
    <link rel="stylesheet" type="text/css" href="../resources/Semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/infor.css">
    <style type="text/css">
    .ui.dividing.header {
        padding-top: 10px;
        font-size: 2em;
    }

    .ui.container {
        min-height: 100%;
    }

    @media only screen and (min-device-width:320px) {
        .brand.item {
            font-size: 2em;
        }
    }

    @media only screen and (min-device-width:768px) {
        .brand.item {
            font-size: 3em;
        }
    }
    </style>
</head>

<body>

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui stackable container inverted menu">
            <a href="index.html" class="brand item">The Coffee Shop</a>
            <div class="right menu">
                <a class="item" href="index.html">Home</a>
                <a class="item" href="about.html">About</a>
                <a class="item" href="contact.html">Contact</a>
            </div>
        </div>
    </div>


    


    <div class="ui middle aligned main container" style="padding-top: 30px; padding-bottom: 30px;">


        <div class="ui centered grid">

            
            <!--INFORMATION PART-->
            <div class="row">

                <div class="sixteen wide mobile sixteen wide tablet seven wide computer column">
                    <img class="ui fluid image" src="../resources/images/coffee-present-pic.jpg">    
                </div>

                <div class="sixteen wide mobile sixteen wide tablet nine wide computer column">
                    
                    <div class="ui breadcrumb">
                        <a class="section">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section">Store</a>
                        <i class="right angle icon divider"></i>
                        <div class="active section">T-Shirt</div>
                    </div>

                    <br><br>

                    <div>

                        <h3>THE COFFEE HOUSE</h3>

                        <div class="ui mini images relaxed devided">
                            <a href="https://www.facebook.com/The.Coffee.House.2014/" class="ui image">
                                <img src="../resources/images/fb.png" >
                            </a>

                            <a href="http://www.thecoffeehouse.com" class="ui image">
                                <img src="../resources/images/home.ico">
                            </a>                             
                            
                        </div>
                    </div>

                    

                    <div>
                        <h5> <i class="location arrow icon"></i> Address: 123 Nguyen Oanh Street, Go Vap District, HCM city.</h5>
                    </div>

                    <br>

                    <div>
                        <h5> <i class="wait icon"></i> Opening time - Closing time: 7:30 AM - 10:00 PM. <a href="">(Opening)</a></h5>
                        
                    </div>

                    <br>

                    <div>
                        <h5> <i class="dollar icon"></i> Average cost/a drink: 40.000 - 60.000vnd</h5>
                    </div>

                </div>

                
            </div>

            <div class="ui divider"></div>
            
            <!--THE MENU PART-->
            <div class="row">
                <div class="sixteen wide mobile sixteen wide tablet ten sixteen computer column" >
                    <h2 class="ui header"> Store's Menu</h2>
                </div>
                <br><br>
                
                
                <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column ">
                    
                    <div class="ui link four stackable cards">
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                           
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="ui divider"></div>
            

            <!--THE GALLARY PART-->
            <div class="row">

                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    
                    <h2 class="ui header"> Some images</h2>    

                </div>

                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">

                    <div class="gallery cf">

                        <div>
                            <img src="http://abload.de/img/a6aawu.jpg" />
                        </div>

                        <div>
                            <img src="http://abload.de/img/a6aawu.jpg" />
                        </div>

                        <div>
                            <img src="http://abload.de/img/a6aawu.jpg" />
                        </div>

                        <div>
                            <img src="http://abload.de/img/a6aawu.jpg" />
                        </div>

                        <div>
                            <img src="http://abload.de/img/a6aawu.jpg" />
                        </div>

                        <div>
                            <img src="http://abload.de/img/a6aawu.jpg" />
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>



            <div class="ui divider"></div>
            <!--COMMENT PART-->
            <div class="row">

                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <div class="ui comments">
                        <h2 class="ui header">Comments</h2>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/elliot.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="../resources/images/jenny.jpg">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/joe.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i> Add Reply
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>

                
            

            <!-- card part-->
            

           

            <!-- comment part -->
            

        </div>

    </div>



    <div class="ui inverted vertical footer segment">
        <div class="ui center align container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="column">
                    <h4 class="ui inverted header" style="tehttps://openload.co/f/eNlxoji3MKw/DIA_-_PRESENT_%5Bwww.k2nblog.com%5D.rarxt-align: center;">The Coffee Shop &copy;2017 - ALL RIGHTS RESERVED.</h4>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="../resources/Semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="../resources/js/infor.js"></script>
</body>

</html>