<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome = 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Explorer</title>
    <link rel="stylesheet" type="text/css" href="../resources/Semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/infor.css">
    <style type="text/css">
    .ui.dividing.header {
        padding-top: 10px;
        font-size: 2em;
    }

    .ui.container {
        min-height: 100%;
    }

    @media only screen and (min-device-width:320px) {
        .brand.item {
            font-size: 2em;
        }
    }

    @media only screen and (min-device-width:768px) {
        .brand.item {
            font-size: 3em;
        }
    }
    </style>
</head>

<body>

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui stackable container inverted menu">
            <a href="index.html" class="brand item">The Coffee Shop</a>
            <div class="right menu">
                <a class="item" href="index.html">Home</a>
                <a class="item" href="about.html">About</a>
                <a class="item" href="contact.html">Contact</a>
            </div>
        </div>
    </div>


    


    <div class="ui middle aligned main container" style="padding-top: 30px; padding-bottom: 30px;">


        <div class="ui centered grid">

            
            <!--INFORMATION PART-->
            <div class="row" id="inforpart">

                <div class="sixteen wide mobile sixteen wide tablet seven wide computer column">
                    <img class="ui fluid image" src="../resources/images/coffee-present-pic.jpg">    
                </div>

                <div class="sixteen wide mobile sixteen wide tablet nine wide computer column">
                    
                    <div class="ui breadcrumb">
                        <a class="section">Home</a>
                        <i class="right angle icon divider"></i>
                        <a class="section">Store</a>
                        <i class="right angle icon divider"></i>
                        <div class="active section">T-Shirt</div>
                    </div>

                    <br><br>

                    <div>

                        <h3>THE COFFEE HOUSE</h3>

                        <div class="ui mini images relaxed devided">
                            <a href="https://www.facebook.com/The.Coffee.House.2014/" class="ui image">
                                <img src="../resources/images/fb.png" >
                            </a>

                            <a href="http://www.thecoffeehouse.com" class="ui image">
                                <img src="../resources/images/home.ico">
                            </a>                             
                            
                        </div>
                    </div>

                    

                    <div>
                        <h5> <i class="location arrow icon"></i> Address: 123 Nguyen Oanh Street, Go Vap District, HCM city.</h5>
                    </div>

                    <br>

                    <div>
                        <h5> <i class="wait icon"></i> Opening time - Closing time: 7:30 AM - 10:00 PM. <a href="">(Opening)</a></h5>
                        
                    </div>

                    <br>

                    <div>
                        <h5> <i class="dollar icon"></i> Average cost/a drink: 40.000 - 60.000vnd</h5>
                    </div>

                </div>

                
            </div>

            <div class="ui divider"></div>
            
            <!--THE MENU PART-->
            <div class="row">

                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column" >
                    
                </div>
                <br><br>
                
                
                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column ">
                    <h2 class="ui header"> Store's Menu</h2>
                    <div class="ui link four stackable cards">

                        <div class="card card1" >
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Frothy Hot Chocolate</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>                                
                            </div>
                        </div>
                        <div class="ui popup pop1">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>


                        <div class="card card2">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Peppermint Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                           
                        </div>
                        <div class="ui popup pop2">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>6 tablespoons coffee/espresso</p>
                                        <p>8 ounces water</p>
                                        <p>13 ounces milk</p>
                                        <p>10 to 18 round candies</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>


                        <div class="card card3">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Amaretto Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop3">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>6 tablespoons coffee/espresso</p>
                                        <p>8 ounces water</p>
                                        <p>Ingredients in pitcher</p>
                                        <p>13 ounces milk</p>
                                        <p>3 tablespoons sugar</p>
                                        <p>2 tablespoons Amaretto</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>


                        <div class="card card4">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop4">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>


                        <div class="card card5">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop5">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>


                        <div class="card card6">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop6">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>


                        <div class="card card7">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop7">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>



                        <div class="card card8">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop8">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>



                        <div class="card card9">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop9">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>



                        <div class="card card10">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop10">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>



                        <div class="card card11">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop11">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>



                        <div class="card card12">
                            <div class="image">
                                <img src="../resources/images/item-coffee1.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Latte</a>
                                <div class="meta">
                                    <span class="date">price:</span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="ui popup pop12">
                            <div class="ui green card">
                                <div class="content">
                                    <div class="header">Recipe</div>
                                    
                                    <div class="description">
                                        <p>13 ounces milk</p>
                                        <p>1/3 cup semi-sweet chocolate chips, melted</p>
                                        <p>2 teaspoons sugar</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="check icon"></i>
                                    121 liked
                                </div>
                            
                            </div>
                        </div>



                    </div>
                </div>
                
            </div>

            <div class="ui divider"></div>
            

            <!--THE GALLARY PART-->
            <div class="row">

                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    
                    <h2 class="ui header"> Some images</h2>    

                </div>

                <div class="ui centered sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    
                    <div class=" ui centered small images gallery cf ">

                        <div>
                            <img class="ui image" src="../resources/images/gcoff1.jpg" />
                        
                        </div>

                        <div>                        
                            <img class="ui image" src="../resources/images/gcoff2.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff3.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff4.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff5.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff6.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff7.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff8.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff9.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff10.jpg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff11.jpeg" />
                        </div>

                        <div>
                            <img class="ui image" src="../resources/images/gcoff12.jpg" />
                        </div>


                        
                    </div>
                    
                </div>
                
            </div>

            <div class="ui divider"></div>

            <!--EXTRA INFORMATION-->
            <div class="row">
                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <h2 class="ui header">Extra informations</h2>
                    <div class="ui four column doubling grid">
                        <div class="column"><p><i class="checkmark icon"></i>Free parking place.</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Strong Internet access.</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Electrical plugs.</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Nice view on roof top.</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Good for team meeting.</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Support Office tool(Pen, board).</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Lovely staffs.</p></div>
                        <div class="column"><p><i class="checkmark icon"></i>Recieve booking table for event.</p></div>

                    </div>
                </div>
                
            </div>


            <div class="ui divider"></div>
            <!--COMMENT PART-->
            <div class="row">

                <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <div class="ui comments">
                        <h2 class="ui header">Comments</h2>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/ava1.jpg">
                            </a>
                            <div class="content">
                                <a class="author"></a>
                                <div class="metadata">
                                    <span class="date">Today at 5:42PM</span>
                                </div>
                                <div class="text">
                                    verry good
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/elliot.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="../resources/images/jenny.jpg">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/joe.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>

                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/ava1.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>

                        <div class="comment">
                            <a class="avatar">
                                <img src="../resources/images/joe.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>

                        <form class="ui reply form">
                            <div class="field">
                                <textarea></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                                <i class="icon edit"></i> Add Reply
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>



        </div>

    </div>



    <div class="ui inverted vertical footer segment">
        <div class="ui center align container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="column">
                    <h4 class="ui inverted header" style="tehttps://openload.co/f/eNlxoji3MKw/DIA_-_PRESENT_%5Bwww.k2nblog.com%5D.rarxt-align: center;">The Coffee Shop &copy;2017 - ALL RIGHTS RESERVED.</h4>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="../resources/Semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="../resources/js/infor.js"></script>

</body>

</html>