a:link,
a:active,
a:visited {
    color: rgba(255, 255, 255, 1);
}

.ui.inverted.menu a.item:hover {
    background: none !important;
    text-decoration: underline;
    color: rgba(253, 98, 17, 0.6) !important;
}

.ui.inverted.menu {
    background: none !important;
    padding: 0;
}

#nav-header-scroll {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
}

#nav-header-scroll.small {
    padding: 0 !important;
}

.ui.menu .item:before {
    top: 25%;
    bottom: 25%;
    height: 50%;
}

.ui.dividing.header {
    padding-top: 10px;
    font-size: 2em;
}

.ui.container {
    min-height: 100%;
}

@media only screen and (min-device-width:320px) {
    .brand.item {
        font-size: 2em;
    }

}

@media only screen and (min-device-width:768px) {
    .brand.item {
        font-size: 3em;
    }

}

@media only screen and (max-width:1043px) {
    .ui.stackable.menu .right.menu,
    .ui.stackable.menu .left.menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ui.stackable.menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ui.stackable.menu .item {
        width: 100% !important;
    }

    .ui.stackable.menu .right.menu,
    .ui.stackable.menu .right.item {
        margin-left: 0 !important;
    }

    .ui.stackable.menu .item:before {
        position: absolute;
        content: '';
        top: auto;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 1px;
    }

    .ui.stackable.menu .item {
        width: 100% !important;
    }

    .delete-item {
        display: none !important;
    }

}

#update {
    width: 80%;
    margin: 0 auto;
    border-top: 1px dotted #CCC;
}

#update ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#update ul li {
    width: 100%;
    padding: 0 20px;
    background: #EEE;
    padding-bottom: 10px;
    height: 110px;
    overflow: hidden;
    border-bottom: 1px dotted #CCC;
    
    -webkit-animation: myanim 1s;
    -moz-animation: myanim 1s;
    -o-animation: myanim 1s;
    animation: myanim 1s;
    
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}

#update li:hover {
    background: #FFFCE5;
    min-height: 110px;
    height: 250px;
    overflow: visible;
}

#update h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 10px;
}

#update h2 a {
    color: #BF5841;
}

#update img {
    float: left;
    width: 80px;
    margin-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@-webkit-keyframes myanim {
    0% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@-moz-keyframes myanim {
    0% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@-o-keyframes myanim {
    0% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@keyframes myanim {
    0% { opacity: 0.3; }
    100% { opacity: 1.0; }
}


