.team-member {
    margin: 15px 0;
    padding: 0;
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    min-width: 100%;
}

.team-member figcaption p {
    font-size: 16px;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    margin: 10px 0 0;
    padding: 0;
}

.team-member figcaption {
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgba(85, 111, 155, 0.6);
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
}

.team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure figcaption ul li a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.team-member h4 {
    text-align: center;
    text-transform: none;
    color: rgba(254, 82, 76, 1);
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.team-member p {
    text-align: center;
}

a:link,
a:active,
a:visited {
    color: rgba(255, 255, 255, 1);
}

.ui.inverted.menu a.item:hover {
    background: none;
    text-decoration: underline;
    color: rgba(253, 98, 17, 0.6);
}

.ui.inverted.menu {
    background: none !important;
    padding: 0;
}

#nav-header-scroll {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
}

#nav-header-scroll.small {
    padding: 0 !important;
}

.ui.menu .item:before {
    top: 25%;
    bottom: 25%;
    height: 50%;
}

.ui.dividing.header {
    padding-top: 10px;
    font-size: 2em;
}

.ui.container {
    min-height: 100%;
}

@media only screen and (min-device-width:320px) {
    .brand.item {
        font-size: 2em;
    }

    .ui.header>.image:not(.icon),.ui.header>img {
        display: inline-block;
    }

    .content {
        font-size: 1.07142857rem;
    }

    h4.ui.header .sub.header {
        font-size: 1rem;
    }

    .team-member figcaption {
        padding: 50px;
        text-align: center;
    }

}

@media only screen and (max-width:1043px) {
    .ui.stackable.menu .right.menu,
    .ui.stackable.menu .left.menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ui.stackable.menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ui.stackable.menu .item {
        width: 100% !important;
    }

    .ui.stackable.menu .right.menu,
    .ui.stackable.menu .right.item {
        margin-left: 0 !important;
    }

    .ui.stackable.menu .item:before {
        position: absolute;
        content: '';
        top: auto;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 1px;
    }

    .ui.stackable.menu .item {
        width: 100% !important;
    }

    .delete-item {
        display: none !important;
    }

}

@media only screen and (min-device-width:768px) {
    .brand.item {
        font-size: 3em;
    }

    .ui.header>.image:not(.icon),.ui.header>img {
        display: block;
    }

    .content {
        font-size: 0.5em;
    }

    h4.ui.header .sub.header {
        font-size: 0.5rem;
    }

    .team-member figcaption {
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media only screen and (min-device-width:1200px) {
    .ui.header>.image:not(.icon),.ui.header>img {
        display: inline-block;
    }

    .content {
        font-size: 1.07142857rem;
    }

    h4.ui.header .sub.header {
        font-size: 1rem;
    }

    .team-member figcaption {
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

}
