a:link,
a:active,
a:visited {
    color: rgba(255, 255, 255, 1);
}

.ui.inverted.menu a.item:hover {
    background: none;
    text-decoration: underline;
    color: rgba(253, 98, 17, 0.6);
}

.ui.inverted.menu {
    background: none !important;
    padding: 0;
}

#nav-header-scroll {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    width: 100%;
    position: fixed;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#nav-header-scroll.small {
    padding: 0 !important;
}

.ui.menu .item:before {
    top: 25%;
    bottom: 25%;
    height: 50%;
}

.ui.dividing.header {
    padding-top: 10px;
    font-size: 2em;
}

.ui.container {
    min-height: 100%;
}

#mobile .box {
	position: fixed;
	text-align: center;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

#mobile ul {
	position: relative;
	top: 20%;
	-webkit-transform: scale(2);
	transform: scale(2);
	-webkit-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

#mobile li { 
	display: inline-block; 
	margin: 20px;
}

#mobile li a {
	border-radius: 3px;
	padding: 15px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

#mobile li a:hover { border-color: #fff; }

#mobile li a i { 
	margin-right: 5px; 
	font-size: 24px;
}

#toggle-nav-label {
	color: rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.2);
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 500;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

#toggle-nav { display: none; }

#toggle-nav:checked ~ .box { 
	opacity: 1;
	z-index: 400;
}

#toggle-nav:checked ~ .box ul {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#toggle-nav:checked ~ #toggle-nav-label { 
	background: #fff; 
	color: rgba(0,0,0,0.8);
}