@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;

}

.gallery {
  /* width: 640px; */
  margin: 0 auto;
  -ms-flex-item-align: center;
  align-self: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

 /* .gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); hack
 } */

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  -webkit-transform: scale(3.0,3.0);
  transform: scale(3.0,3.0);
  -webkit-transition: .3s transform;
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

#inforpart {
  background-color:#FEFEFA;
}

a:link,
a:active,
a:visited {
    color: rgba(255, 255, 255, 1);
}

.ui.inverted.menu a.item:hover {
    background: none;
    text-decoration: underline;
    color: rgba(253, 98, 17, 0.6);
}

.ui.inverted.menu {
    background: none !important;
    padding: 0;
}

#nav-header-scroll {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

#nav-header-scroll.small {
    padding: 0 !important;
}

.ui.menu .item:before {
    top: 25%;
    bottom: 25%;
    height: 50%;
}

.ui.dividing.header {
    padding-top: 10px;
    font-size: 2em;
}

.ui.container {
    min-height: 100%;
}

.ui.pagination.menu {
    float: right;
}